<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "sample app", '#', id: "logo", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Home", routes.root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Help", routes.help_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "About", routes.about_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Log in",   '#', class: "nav-link" %></li>
    </ul>
  </div>
</nav>
