<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title) %></title>
    <%= favicon %>
    <%= javascript 'jquery' %>
    <%= stylesheet 'bootstrap', 'main' %>
    <%= javascript 'bootstrap' %>
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
